body{

    min-height: 100vh;
    background-image: linear-gradient(120deg, rgb(24, 67, 221), rgb(204, 204, 204));
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes semaforo1{

    from {background-color: white;}
    to {background-color:red ;}

}

@keyframes semaforo2{
    
    from {background-color: white;}
    to {background-color: yellow;}

}

@keyframes semaforo3{

    from {background-color: white;}
    to {background-color: green;}

}

 #pai{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 21, 21);
    height: 500px;
    width: 300px;
    border-radius: 40px;

}

#filho1{

    height: 100px;
    width: 100px;
    border-radius: 70px;
    background-color:white;
    position: absolute;
    margin-bottom: 310px;
    animation-name: semaforo1;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-duration: 2s;

}

 #filho2{

    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 70px;
    position: absolute;
    animation-name: semaforo2;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-duration: 2s;
    
 }

 #filho3{

    width: 100px;
    height: 100px;
    background-color: white;
    margin-top: 300px;
    border-radius: 70px;
    position: absolute;
    animation-name: semaforo3;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-duration: 2s;
    

 }